* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* HEADER SECTION */

.header {
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 60px;
  height: auto;
  filter: invert(1);
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  letter-spacing: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  padding: 10px 32px;
  padding-bottom: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  gap: 10px;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
}

.hero-image {
  width: 500px;
  height: auto;
}

.header,
.hero-section {
  background: #1f2937;
  color: white;
}

/* INFO AND PRODUCTS SECTION */

.info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 32px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.2rem;
}

.cards img {
  width: 250px;
  height: 250px;
  border: 5px solid #3882f6;
  padding: 8px;
  border-radius: 18px;
  margin: 10px 0;
}

/* QUOTE SECTION */

.quote-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  margin: 72px 0;
  padding: 72px 0;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  max-width: 600px;
}

.author {
  font-size: 24px;
  font-weight: 900;
  padding-left: 400px;
}

/* SIGNUP SECTION */

.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 72px;
  gap: 32px;
  padding: 32px 80px;
  border-radius: 8px;
  color: white;
}

.signup-header {
  font-size: 24px;
  font-weight: 900;
}

.signup-button {
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 900;
  font-size: 16px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fff;
  padding: 24px;
}
